[submodule "dependencies/src/SILO"]
	path = dependencies/src/SILO
	url = https://github.com/LLNL/Silo
	ignore = dirty
[submodule "dependencies/src/HDF5"]
	path = dependencies/src/HDF5
	url = https://github.com/HDFGroup/hdf5
	ignore = dirty
